html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

@media screen and (max-width: 1023px) {

    html{
        font-size: 56.5%;
    }
}

@media screen and (max-width: 768px) {

    html{
        font-size: 50%;
    }
}

body{
    width: 100%;
    margin: 0;
}

.button{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-family: 'roboto', sans-serif;
        font-size: 1.8rem;
        font-weight: 700;
        height: 2.4rem;
        padding: 1.8rem 2.4rem;
        color: white;
        border-radius: 4px;
        width: auto;
        margin-top: 3rem;
        text-decoration: none;
}

@media screen and (max-width: 1023px) {

    .button{
        width: 60%;
    }
}

#button-solid-lite{
    background-color: #2C1E65;
    color: white;
}

#button-solid-lite:hover{
    background-color: #391B8E;
    transition: 0.2s;
    cursor: pointer;
}

#button-solid-dark{
    background-color: rgb(238, 237, 243);
    color: #6843CF;
}


#button-solid:hover{
    background-color: #6d48d3;
    color: white;
}

#button-ghost-lite{
    background-color: transparent;
    color: #391B8E;
    border: solid 2px #391B8E;
}

#button-ghost-lite:hover{
    background-color: rgb(231, 231, 231);
    transition: 0.2s;
}

#button-ghost-dark{
    background-color: transparent;
    color: white;
    border: solid 2px white;
}

#button-ghost:hover{
    background-color: #f1f1f1;
    color: #ce48d3;
    border: solid 2px #ce48d3;
    transition: 0.2s;
}

h2{
    font-size: 6.4rem;
    font-family: 'Baloo 2', cursive;
    line-height: 7rem;
    margin: 0;
    margin-top: 1rem;
}

@media screen and (max-width: 768px) {

    h2{
        font-size: 4.5rem;
        line-height: 5rem;
    }
}

h3{
    font-size: 4.8rem;
    font-family: 'Baloo 2', cursive; 
    line-height: 110%;
    margin: 0;
    margin-bottom: 3rem;
}

h4{
    font-size: 4.8rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    line-height: 140%;
    margin: 0;
}

h5{
    font-size: 3.6rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    margin: 0;
    color: #261768;
}

h6{
    font-size: 2.8rem;
    font-weight: 300;
        font-family: "roboto mono", sans-serif;
    line-height: 140%;
    margin: 0 0 14px 0;
}

p{
    font-size: 2.0rem;
    line-height: 4rem;
    color: #35286A;
    font-family: 'Roboto Mono', sans-serif;
    margin: 0;
}

a{
    font-size: 1.8rem;
    font-family: 'roboto mono', sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: white;
}

#navbar a{
    font-weight: 700;
    color: #978AC9;
}



.container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .container{
        margin: 1rem;
    }
}

/* Nav */

#nav-container{
    z-index: 99;
    position: relative;
}

#navbar {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: transparent;
    height: 8.4rem;
    padding: 1.4rem 2.8rem;
}

#hamburger-container{
    display: none;
}

@media only screen and (max-width: 1023px){
    #hamburger-container{
        display: block;
        width: 62px;
        height: 62px;
        border-radius: 4px;
        background-color: #473685;
    }

    #navbar img{
        width: 85%;
    }
}

#mobile-nav{
    display: none;
}

@media only screen and (max-width: 768px){

    #mobile-nav{
       display: block;
    }

    .overlay{
        display: flex;
        flex-direction: column;
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 98;
        top: 0;
        left: 0;
        background-color: #2C1E6C;
        overflow: hidden;
        transition: 0.45s ease;
    }

    .overlay-container{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .overlay-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: left;
        padding: 1.4rem 2.8rem;
      }

      .overlay-footer {
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        align-self: flex-end;
      }

      .overlay-footer img{
        padding-right: 12px;
        fill: white;
        height: 18px;
        width: 13.3px;

    }


      .overlay-footer p{
        color: #8E71FF;
      }

      .overlay a {
        text-decoration: none;
        font-size: 64px;
        font-family: 'baloo 2', sans-serif;
        font-weight: 700;
        color: #8E71FF;
        display: block;
        transition: 0.3s;
      }

      .overlay-content .mobile-item-last{
          color: #E54EFF;
      }
    }

.last-item{
    margin-right: auto;
}

.list-item:nth-child(3){
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}

@media screen and (max-width: 1023px) {

    .list-item{
        display: none;
    }
}

.divider{
    width: 100%;
    height: 2px;
    background-color: white;
    margin-top: -2px;
}

@media screen and (max-width: 768px) {

    .divider{
        height: 34px;
    }
}

#hero-wrap{
    background: url('imgs/hero_background.svg'), #251B4C;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {

    #hero-wrap{
        background-size: cover;
        background-position: -225px 0;
    }
}

.hero-container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
}

.hero-container h5{
    font-family: 'Indie Flower', sans-serif;
    color: #A79ADB;
    margin-bottom: 12px;
    font-size: 3.8rem;
}

@media screen and (max-width: 1023px) {

    .hero-container{
        height: 90vh;
    }
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 700px;
    margin-bottom: 12%;
}

@media screen and (max-width: 768px) {

    .hero-content{
        margin-left: 5%;
        margin-right: 5%;
    }
}

.hero-container h2 span{
    color: #FF40F7;
}

@media screen and (max-width: 768px) {

    .hero-content h2{
        font-size: 6rem;
        line-height: 6.5rem;
    }
}

#about{
    background-color: white;
}

.about-container h3{
    color: #8E71FF;
}

.about-container span{
    text-decoration: line-through;
}

#projects{
    margin-top: -80px;
}

@media screen and (max-width: 767px) {

    #projects{
        margin-top: -40px;
    }
}

.title-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 40px;
    color: #8E71FF;
}

.title-container .text-block {
    height: 3.4rem;
    width: 1.2rem;
    background-color: #8E71FF;
    margin-left: 1.6rem;
}

.case-grid{
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr); 
    grid-auto-rows: 600px;
    gap: 2rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .case-grid{
        grid-auto-rows: 400px;
        gap: 1rem;
    }
}

@media screen and (max-width: 767px) {

    .case-grid{
        max-width: 100%;
        grid-template-columns: repeat(1, 1fr); 
        grid-auto-rows: 100vw;
        gap: 2rem;
    }
}

.grid-item{
    background-color: pink;
    border-radius: 6px;
    overflow: hidden;
}

.grid-item img{
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    height: 100%;
    transition: all .2s;
    cursor: pointer;
}

.grid-item img:hover{
    transform: scale(1.05);
}


#item1{
    grid-column: 1 / -1;
}

#contact{
    background-color: #1f1642;
    color: white;
    height: 40vh;
}

#footer{
   padding: 20px 10% 20px 10%;
    background-color: #2C1E65;
}

.footer-container{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1023px) {

    .footer-container{
        flex-direction: column;
    }
}

.footer-container a, .footer-container p{
    font-size: 1.4rem;
    color: #B66FFE;
}

@media screen and (max-width: 1023px) {

    .footer-container a, .footer-container p{
        font-size: 1.6rem;
        color: #B66FFE;
    }
}

.contact-content h2{
    color: #8E71FF;
}
.contact-content #button-solid-dark{
    background-color: #6AF5D4;
    color: #251B4C;
}

.contact-content #button-solid-dark:hover{
    background-color: #48d3b2;
    transition: 0.2s;
}


#contact #button-solid-dark{
    font-size: 2.4rem;
    padding: 25px 50px;
}

@media screen and (max-width: 1023px) {

    #contact #button-solid-dark{
        font-size: 1.8rem;
        padding: 1.8rem 2.4rem;
    }
}

    

.footer-container .misc{
    display: flex;
    margin-left: auto;
} 

@media screen and (max-width: 1023px) {

    .footer-container .misc{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 0;
    } 
}

.footer-container .misc p:nth-child(1){
    padding-right: 40px;
} 

.sub-nav a:nth-child(1){
    padding-right: 24px;
} 

@media screen and (max-width: 1023px) {

    .footer-container .misc p:nth-child(1){
        padding-right: 0px;
    } 

    .footer-container .location, .footer-container .misc p:nth-child(1){
        padding-top: 6px;
    }

    .footer-container .misc{
        margin-bottom: 6px;
    }
}

.location{
    display: flex;
    align-items: center;
}


.location img{
    margin-right: 12px;
}

@media screen and (max-width: 1023px) {

    .location img{
        height: 18px;
    } 

    .sub-nav{
        display: none;
    }
}

/* #contact{
    background: url("imgs/peeking_logo.svg");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-color: #251B4C;
} */






















/* case study styling */
/* 4 Seasons */

#title{
    display: flex;
    height: 40vh;
    align-items: center;
}

#title h2{
    color: #261768;
}

.layout-container-left{
    width: 62.5%;
}

@media screen and (max-width: 1023px) {

    .layout-container-left{
        width: 100%;

    }
}

.full-width{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 1023px) {

    .full-width{
        height: 70vh;
    }
}


#hero-img{
    background-image: url("imgs/4seasons_hero.jpg");
}

#challenge{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 120px 0;
}

@media screen and (max-width: 768px){

    #challenge{
        margin: 20px 0px;
    }
}


.section-desc span{
    font-weight: 700;
}

#identify p{
    color: white;
}

.grid-quad{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
}


@media screen and (max-width: 1023px) {

    .grid-quad{
        grid-template-columns: 100%;
        grid-auto-rows: 1fr;
    }
}

.quad-item img{
    object-fit: fill;
    max-width: 100%;
    width: 100%;
} 

.grid{
    display: grid;
    text-align: left;
    grid-template-columns: 37% 63%;
}

@media screen and (max-width: 1023px) {

    .grid{
        grid-template-columns: 100%;
        gap: 20px;

    }
}

.section{
    padding: 120px 10%;
}

@media screen and (max-width: 1023px) {

    .section{
        padding: 80px 5%;
    }
}

@media only screen and (max-width: 1023px){
    .section{
        padding: 60px 5%;
    }
    }

.width-60{
    width: 60%;
}

@media screen and (max-width: 1023px) {

    .width-60{
        width: 100%;
    }
}

.splitpic-wrap{
    padding: 0 10%;
}



.center-pic{
    object-fit: cover;
}

#identify{
    background-color: #194456;
    color: white;
}

#identify h3{
    color: #27B3F3;
}

#quadrant-excercise img{
    width: 100%;
    object-fit: cover;
    margin-top: 6rem;
}

.splitpic{
    display: flex;
    margin-top: 30px;
}

@media screen and (max-width: 1023px) {

    .splitpic{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
}

.splitpic-left{
    display: flex;
    flex-direction: column;
    width: 50%;
}

@media screen and (max-width: 1023px) {

    .splitpic-left{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

#full-width-img-container{
    width: 100%;
    max-width: 100%;
    margin-top: 60px;
}

#full-width-img-container .full-width-img{
    object-fit: cover;
}

.full-width-img img{
    max-width: 100%;
    object-fit: cover;
}

.splitpic-img, #full-width-img{
    margin-top: 90px;
}

@media screen and (max-width: 1023px) {

    .splitpic-img, full-width-img{
        margin-top: 60px;
    }
}

.splitpic-copy{
    margin-top: 30px;
}

.splitpic-right{
    width: 50%;
    margin-left: 60px;
    margin-top: 120px;
}

@media screen and (max-width: 1023px) {
    .splitpic-right{
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
    }
}

.splitpic img{
    width: 100%;
    fill: cover;
}

#programming{
    padding-top: 0px;
    padding-bottom: 40px;
}

#programming-story .width-60 p:nth-child(3){
    margin-top: 20px;
    color: #8f9199;
}

#programming-story .width-60 a{
    font-size: 2.0rem;
    line-height: 4rem;
    color: #43508b;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: bold;
    margin: 0;
}

#programming-story .width-60 a:hover{
    font-size: 2.0rem;
    line-height: 4rem;
    color: #2a366e;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: bold;
    margin: 0;
}

@media screen and (max-width: 1023px) {

    #programming-story{
        padding-top: 0px;
    }
}

#programming span{
    font-weight: 700;
}

#programming-img{
    background-image: url("imgs/4seasons_program.jpg");
}

#footer-img{
    background: url(imgs/4seasons_stunner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -120px;
}

@media screen and (max-width: 1023px) {

    #footer-img{
        background-position: 70%;
        margin-top: 0px;
    }
}

#launch span{
    color: #F09139;
}

#next-case{
    background-color: #f3eddf;
    color: #261768;
}

#next-case h6{
    color:#afa690;
}

#next-case #button-ghost-lite{
    margin-right: 8px;
}

@media screen and (max-width: 1023px) {

    #next-case #button-ghost-lite{
        margin-right: 0px;
        margin-bottom: 8px;
    }
}


#next-case #button-ghost-lite:hover{
    background-color: #e0daca;
    transition: 0.2s;
}



.centered{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-wrap #button-solid-dark{
    margin-left: 12px;
}

@media screen and (max-width: 1023px) {

    .button-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        width: 100%;
    }

    .button-wrap #button-solid-dark{
        margin-left: 0px;

    }
}


/* about josh */ 

.about-josh-container{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1023px) {

    .about-josh-container{
        display: flex;
        flex-direction: column;
    }

    #about-josh{
        padding-top: 20px;
    }

    .selfie-img img{
        width: 100%;
    }
}

.bio{
    margin-left: 4%;
}

@media screen and (max-width: 1023px) {

    .bio{
        margin-left: 0;
    }
}

.bio h3{
    color: #251B4C;
    line-height: 140%;
    font-size: 36px;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1023px) {

    .bio h3{
        font-size: 28px;
        margin-top: 4rem;
        margin-bottom: 2rem;
        line-height: 145%;
    }
}

.bio h5{
    font-family: 'Indie Flower', sans-serif;
    margin-bottom: 5rem;
    font-size: 24px;
    color: #848484;
}

@media screen and (max-width: 1023px) {

    .bio h5{
        font-size: 21px;
        margin-bottom: 4rem;
    }
}

.bio p:nth-child(3),
.bio p:nth-child(4){
    margin-bottom: 2rem;
}


/* Contact page */ 

#fs-frm-inputs{
    display: flex;
    flex-direction: column;
    border: none;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 0px;
}

#contact-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form-title h2{
    color: #E54EFF;
    margin-bottom: 12px;
}

.contact-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

#fs-frm-inputs label{
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 12px;
    font-family: 'roboto', sans-serif;
    font-weight: 700;
    text-transform: lowercase;
    font-variant: small-caps;
    color: rgb(87, 87, 87);
}

.input-small{
    height: 3.4rem;
    padding-left: 2%;
    padding-right: 2%;
}

.input-large{
    height: 15rem;
    padding: 2%;
}

.input-small, .input-large{
    font-family: 'roboto mono', sans-serif;
    border: 1px solid gray;
    border-radius: 4px;
}

.input-large{
    margin-bottom: 12px;
}

input[type=submit]{
    height: 6rem;
    width: 33%;
    flex-direction: column;
    border: none;
}

#contact-form .button:hover{
    background-color: #391B8E;
    transition: 0.2s;
    cursor: pointer;
}

/* Cadabra Case Study */

#cadabra-hero{
    background-image: url("imgs/cadabra_hero.png");
    background-position: center;
}

#identify-cadabra{
    background-color: #340e66;
    color: white;
}

#identify-cadabra p{
    color: #c69aff;
}

#feature-title{
    color: #CBA3FF;
}

#feature-title span{
    color: white;
}

#cadabra-proto-feature{
    height: 100vh;
}

@media screen and (max-width: 1023px) {

    #cadabra-proto-feature{
        height: 75vh;
    }
}

.feature-container{
    background-color: #fbecfe;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-container img{
    max-height: 100%;
}

@media screen and (max-width: 1023px) {

    .feature-container img{
        width: 100%;
    }
}

/* No case study */

#no-case{
    display: flex;
    align-items: center;
    justify-content: center;
}

#no-case h2{
    color: #8E71FF;
    margin-bottom: 2rem;
}

#no-case p{
    margin-bottom: 2rem;
}

#no-case .button:first-of-type{
    background-color: #FFB4AC;
    color: #571C17;
    margin-right: 1rem;
}


#whats-next-cadabra{
    color: #261768;
}

@media screen and (max-width: 1023px) {

    #no-case .button:first-of-type{
        margin-right: 0rem;
    }
}

#no-case .button:last-of-type{
    background-color: #C8B5FF;
    color: #251B4C;
}